.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.formField {
  margin-bottom: 20px;
}

.errorMessage {
  color: red;
}

.formField1 {
  width: 100%;
}
.bottomBlock {
  display: flex;
  justify-content: space-between;
}

.tocurrency {
}
.textFieldRoot {
  min-width: 100px !important;
}
